streamlit
supabase-py
# O langchain-google-genai já traz o langchain e langchain-core
langchain-google-genai
langchain-community
# Necessário para os embeddings
sentence-transformers
python-dotenv
